/* .currency-wrapper {
    position: relative;
    top: 400px;
    left:500px;
   

}
.currency-wrapper input{
  color: black;
  background-color: white;
  border-radius: 15%;
  width: 300px;
  

}
.currency-wrapper select{
    background-color: white;
    color: black;
    border-radius: 15px;
    width: 150px;
    
}

.currency-info h1{
  position: relative;
  top: -200px;
  color: pink;
  
} */


.doughnut-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  perspective: 500px;
}

.doughnut {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 10px solid #f3f3f3;
  border-top-color: #333;
  transform-style: preserve-3d;
}

.inner-doughnut {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #f3f3f3;
  position: absolute;
  top: 10px;
  left: 10px;
  transform: rotateX(45deg) rotateY(45deg);
}
.chart-size{
  width: 70%;
  position: relative;
  top:199px;
  left:400px;
}
.text-position{
  position: absolute;
  top: 50%;
  left: 50%;
}