.border-bar-box p{
    width: 200px;
    height: 100%;
    font-size: 20px;
    position: relative;
    left: 50px;
    top: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.box-first p:first-letter{
    font-size: 250%;
    color: red;
    box-shadow: 10px 10px 70px rgba(0, 0, 0, 0.9);
    border-radius: 5px;
    

}