.box-1{
    width: 100%;
    text-align:center;
    position: relative;
    top: 600px;
    
}

.search-form {
    
    align-items: center;
    margin-bottom: 1rem;
    
    
  }
  
  .search-input {
    padding: 0.5rem;
    font-size: 1rem;
    border: 3px solid black;
    border-radius: 5px 0 0 5px;
    width: 30%;
    border-radius: 25px;
    border-width: 2px;
    color: black;
    background-color: white;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.9);
  }
  
  .search-button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: 3px solid black;
    border-radius: 0 5px 5px 0;
    color: black;
    cursor: pointer;
    border-radius: 25px;
    border-width: 2px;
    background-color: white;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.9);
  }
  
  .search-input::placeholder {
    color:rgba(0, 0, 0, 0.9);
    font-size: 20px;
  }
  