.box-1{
    width: 100%;
    text-align:center;
    position: relative;
    top: 350px;
    
}

.search-form {
    
    align-items: center;
    margin-bottom: 1rem;
    
    
  }
  
  .search-input {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid black;
    border-radius: 5px 0 0 5px;
    width: 30%;
    border-radius: 25px;
    border-width: 2px;
    color: black;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
  }
  
  .search-button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: 1px solid black;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    border-radius: 25px;
    border-width: 2px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
  }
  
  .search-input::placeholder {
    color:rgba(0, 0, 0, 0.9);
    font-size: 22px;
  }
  