


.currency-box {
    
    
    
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
   
    
}

.currency-img img {
    border-radius:  500px;
    width: 600px;
}