.cart-box {
    
    position: relative;
    left: 85%;
}

.text-Amount h5{
    font-size: 30px;
    color: White;
    position: relative;
    left: -40%;
    text-shadow: 0 6px 4px black,
		     -3px -5px 4px #fe2192,
		     3px -5px 4px #f7c200;
}

.text-Currency h6{
    font-size: 30px;
    color: white;
    position: relative;
    left: -40%;
    text-shadow: 0 6px 4px black,
		     -3px -5px 4px red,
		     3px -5px 4px #f7c200;
}
.btn {
    font-size:100px;
    background-color: red;
    color: black;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    
  }

  .Product-name-container {
    display:flex;
    flex-direction: horizontal;
    justify-content: space-between;
  }
  .App-button {
    margin: 10px;
    background-color: white;
    outline: solid 2px black;
    border-radius: 5px;
    width: 50px;
    padding: 3px;
  }

  .btn-name {
  background-color: black; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 25px;;
  }

  .currency-box{
    position: relative;
    top: 20px;
    left: 100px;
    
  }

  .img {
    border-radius: 50%;
    position: relative;
    width:20%;
    opacity: 0.9;
    
  }

  .box {
    width: 100px;
    height: 100px;
    background-color: white;
    border: 1px solid black;
    opacity: 0.5;
    padding: 20px;
}