


.currency-box {
    
    position: relative;
    left: 85%;
    
    
    
   
    
}

.currency-img img {
    border-radius:  100px;
    width:200px;
    position: relative;
    top: 10px;
    left: -30%;
}

.text h5{
    font-size: 30px;
    color: White;
    position: relative;
    left: -40%;
}

.text h6{
    font-size: 30px;
    color: white;
    position: relative;
    left: -40%;
}
.text h7{
    font-size: 30px; 
    color: yellow;
    position: relative;
    left: -40%;
}