.Privacy{
    position:absolute;
    top: 20%;
    left:2%;
}
.Privacy li{
   color: white;
   
}
.Privacy h2{
    color: white;
    text-align: center;

 }
 .Privacy h1{
    color: white;
    text-align: center;
    font-size:80px;


 }
 .Privacy p{
    color: white;
    text-align: center;
    font-size: 25px;
 }
 .Privacy ul{
    
    background-color: transparent;
    font-size: 20px;
 }
 .Privacy li{
    
    color: lightgoldenrodyellow;

    
 }