.Terms-of-Service{
    position:absolute;
    top: 20%;
    left:2%;
}
.Terms-of-Service li{
   color: black;
   
}
.Terms-of-Service h2{
    color: white;
    text-align: center;
    font-size: 60px;
    


 }
 .Terms-of-Service h1{
    color: white;
    text-align: center;
    
    font-size: 80px;

 }
 .Terms-of-Service p{
    color: white;
    text-align: center;
    font-size: 20px;
 }
 .Terms-of-Service ul{
    
    background-color: transparent;
    font-size: 20px;
 }
 .Terms-of-Service li{
    
    color: lightgoldenrodyellow;
    

    
 }