.Terms-of-Service{
    position:absolute;
    top: 20%;
    left:2%;
}
.Terms-of-Service li{
   color: black;
   
}
.Terms-of-Service h2{
    color: white;
    text-align: center;
    font-size: 80px;
    text-shadow: -1px 1px 10px rgba(225, 225, 225, 0.9);


 }
 .Terms-of-Service h1{
    color: white;
    text-align: center;
    text-shadow: -1px 1px 10px rgba(225, 225, 225, 0.9);
    font-size: 100px;

 }
 .Terms-of-Service p{
    color: white;
    text-align: center;
    font-size: 30px;
 }
 .Terms-of-Service ul{
    
    background-color: transparent;
    font-size: 20px;
 }
 .Terms-of-Service li{
    
    color: red;
    text-shadow: -1px 1px 10px rgba(225, 225, 225, 0.9);

    
 }