.App {
    text-align: center;
  }
  
  .hero{
    height: 875px;
    background-color: white;
    background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20201101/pngtree-3d-rendering-for-display-product-banner-on-website-image_453005.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    
    
  }
  .hero img{
    border-radius: 50%;
    width: 200px;
    position: relative;
    top: 200px;
    left: -50px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.9);

  }
  .img-2 img{
    border-radius: 50%;
    width: 200px;
    position: relative;
    top: 100px;
    left: -450px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.9);

  }
  .img-3 img{
    border-radius: 50%;
    width: 400px;
    position: relative;
    top: -300px;
    left: 550px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.9);

  }
  .text h1{
    position: relative;
    left: -600px;
    top: 40px;
    font-size: 50px;
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    box-shadow:  rgba(0, 0, 0, 0.9);
    text-shadow: -1px 1px 10px rgba(0, 0, 0, 0.75);
    transform: translate(20px, 85px) rotate(-30deg);



  }

  .blog {
    height: 400px;
    background-color: white;
    text-align: center;
 
    
  }
  .services{
    height: 800px;
    background-color: white;
    
  }
  .contact {
    height: 800px;
    background-color: white;
    position: relative;
  }
  
  .image-1{
    height: 250px;
    width: 250px;
    position: relative;
    top: 200px;
 
  margin-top: -50px;
  margin-left: -100px;
    border-radius:50%;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);

  }
  /* .link {
    text-decoration: none;
    display: inline;
    padding: 20px 20px;
    font-weight: 700;
    font-size: large;
    cursor: pointer;
  } */
  
  /* scroll to top button */
  .top-btn-position {
    position: fixed;
    bottom: 15px;
    right: 20px;
  }
  
  .top-btn-style {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid #333;
    background-color: #fff;
    cursor: pointer;
  }
  
  .top-btn-style:hover {
    animation: none;
    background-color: #333;
    color: #fff;
    border: 2px solid #fff;
  }
.image-2{
  position: absolute;
  top: -60px;
  left: 10px;
  border-radius: 50%;
  
  width: 220px;
  height: 220px;
  transform: translate(20px, 85px) rotate(-30deg);
}

.helpful-links-wrapper{
  position: absolute;
  top: 60%;
  left: 70%;
  transform: translate(-50%, -50%);


}
.helpful-links-wrapper-2{
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.helpful-links-wrapper-3{
  position: absolute;
  left: 100px;
  top: 300px;
 
 }
 .helpful-links-wrapper-4{
  position: absolute;
  left: 1400px;
  top: 180px;
 
 }
.column-1  {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.column-1 a {
 color: #89CFF0;
 display: block;
  padding: 15px 0;
  font-size: 20px;
  
  text-decoration-color: black;
  font-weight: bold;
}
.column-4 a {
  color: #89CFF0;
  display: block;
   padding: 15px 0;
   font-size: 20px;
   
   text-decoration-color: black;
   font-weight: bold;
 }

.helpful-links-tag h1{
  text-shadow: 1px 1px #333, 2px 2px #333, 2px 2px #333;
  font-size: 30px;
  position: relative;
  left: 10%;
  top: 40px;
  color: #89CFF0

}
.column-2 a {
  color: #89CFF0;
  display: block;
   padding: 15px 0;
   font-size:20px;
   
   text-decoration-color: black;
   font-weight: bold;
 }
 .column-3 a {
  color: black;
  display: block;
   padding: 10px 0;
   font-size: 20px;
   text-shadow: 2px 2px #ddd;
 }
 

.footer-1 {
  width: 100%;
  bottom: 0;
  position: absolute;
  background-color: white;
  /* background-image: linear-gradient(to top, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1)); */
 height: 500px;
 box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.9);
 

}

.footer-text {
  font-size: 20px;
  margin: 0;
}
.github-icon{
 color: black;
 font-size: 50px;
}
.linkedin-icon{
  color: black;
  font-size: 50px;
}
.Instagram-icon{
  color: black;
  font-size: 100px;
  margin: 70px;
}

.Amazon-icon{
  color: black;
  font-size: 100px;
  margin: 70px;
 }
 .Facebook-icon{
  color: black;
  font-size: 100px;
  margin: 70px;
 }

 .icon-navbar-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #89CFF0;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.9);


 }
 .Twitter-icon{
  color: black;
  font-size: 100px;
  margin: 70px;
 }
.blog img{
  width: 450px;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 20px;
}
.blog h2{
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}
.blog p{
  font-size: 18px;
  color: white;
}

.images {
  display: flex;
}

.images img {
  width: 33.33%;
  height: 200px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  margin: 10px;
}

.images img:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transform: scale(1.1);
}
.text-side-by-side {
  display: flex;
}

.text-box {
  width: 50%;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  color: black;
  font-family:'Times New Roman', Times, serif;
  text-shadow: 1px 1px #333, 1px 1px #333, 1px 1px #333;

}
.t{
  background-color: transparent;
  border-color: transparent
}
.Clock-Style{
  color: black;
  position: relative;
  top: 5px;
  
}
.Clock{
  color: black;
  position: relative;
  top: -52px;
  left: -160px;
  width: 45px;
  height: 45px;


}
.Newspaper-icon{
  color: black;
  width: 25px;
  height: 25px;
  margin-right: 10px;
  
}
.Contact-icon{
  color: black;
  width: 25px;
  height: 25px;
  margin-right: 10px;
}
.Blog-icon{
  color: black;
  width: 25px;
  height: 25px;
  margin-right: 10px;
}
.Bank-icon{
  color: black;
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.FAQ-icon{
  color: black;
  width: 25px;
  height: 25px;
  margin-right: 10px;
}
.Privacy-icon{
  color: black;
  width: 25px;
  height: 25px;;
  margin-right: 10px;
}
.Terms-icon{
  color: black;
  width: 25px;
  height: 25px;
  margin-right: 10px;
}
.Alerts-icon{
  color: black;
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.Lock-icon{
  color: black;
  width: 25px;
  height: 25px;
  margin-right: 10px;
}


.FAQ-icon{
  color: black;
  width: 25px;
  height: 25px;
  margin-right: 10px;
}



.column-1 p{
  display: flex;
  align-items: center;
}
.column-4 p{
  display: flex;
  align-items: center;
}
.Coins-icon{
  color: black;
  width: 25px;
  height: 25px;
  margin-right: 10px;
}
.Notes-icon{
  color: black;
  width: 25px;
  height: 25px;
  margin-right: 10px;
}
.Radio-icon{
  color: black;
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.column-2 p{
  display: flex;
  align-items: center;
}