.App {
    text-align: center;
  }
  
  .hero{
    height: 800px;
    background-color: white;
    background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20201101/pngtree-3d-rendering-for-display-product-banner-on-website-image_453005.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    
  }
  .hero img{
    border-radius: 50%;
    width: 200px;
    position: relative;
    top: 200px;
    left: -50px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.9);

  }
  .img-2 img{
    border-radius: 50%;
    width: 200px;
    position: relative;
    top: 100px;
    left: -450px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.9);

  }
  .img-3 img{
    border-radius: 50%;
    width: 400px;
    position: relative;
    top: -300px;
    left: 550px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.9);

  }
  .services {
    height: 800px;
    background-color: brown
  }
  .blog {
    height: 800px;
    background-color: yellow
  }
  .contact {
    height: 800px;
    background-color: blue
  }
  
  .image-1{
    height: 200px;
    width: 200px;
    position: relative;
    top: 50px;
 
  margin-top: -50px;
  margin-left: -100px;
    border-radius:50%;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);

  }
  /* .link {
    text-decoration: none;
    display: inline;
    padding: 20px 20px;
    font-weight: 700;
    font-size: large;
    cursor: pointer;
  } */
  
  /* scroll to top button */
  .top-btn-position {
    position: fixed;
    bottom: 15px;
    right: 20px;
  }
  
  .top-btn-style {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid #333;
    background-color: #fff;
    cursor: pointer;
  }
  
  .top-btn-style:hover {
    animation: none;
    background-color: #333;
    color: #fff;
    border: 2px solid #fff;
  }

